@charset "UTF-8";
/*
em HML=id i CSS=#
em HTML=class CSS=.
*/
body{
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: green;
}
h2{
    color: red;
}
#principal{
    background-color: green;
    color: white;
    text-align: center;
}